.active {
    text-decoration: underline !important;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-item {
    display: inline;
}
