extends ../../_bootstrap

append head
    title Place new order | WhereTo
    style.
        #map {
            height: 450px;
            width: 100%;
        }

        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }

        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }

append body
    include ../nav

    .container
        +panel-primary('Order form')
            form(method='post', action='/orders/place')
                +input('text', 'origin', 'Origin', {
                    required: true,
                    name: 'origin'
                })
                +input('text', 'dest', 'Destination', {
                    required: true,
                    name: 'dest'
                })

                #map
                    script(type = 'text/javascript', src = '/scripts/map.js')
                    script(async, defer, type = 'text/javascript',
                    src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC1tVc4lbElSKFHRRrngpVgB1lpkyD2qPo&callback=initMap&libraries=places'
                    )
                fieldset.form-group
                    label Distance
                    p#_dist N/A
                //input#dist(type='hidden', name='dist')

                fieldset.form-group
                    label Duration
                    p#_duration N/A
                //input#duration(type='hidden', name='duration')

                +input('date', 'exp', 'Expiration', {
                    name: 'expires',
                    required: true
                })
                +input('number', 'weight', 'Weight', {
                    name: 'weight',
                    required: true
                })
                +textarea('cargo', 'Cargo', {
                    name: 'cargo',
                    required: true
                })
                +input('Submit', '', '', {
                    value: 'Place order',
                    disabled: true
                })